pipeline/demo-pipeline.json
{
	"name": "demo-pipeline",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.github.com/zen",
					"method": "GET",
					"headers": {
						"User-Agent": {
							"value": "@pipeline().parameters.UserAgentName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "zenOutput",
					"value": {
						"value": "@activity('Web1').output.response",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"UserAgentName": {
				"type": "string",
				"defaultValue": "Awesome-Octocat-App"
			}
		},
		"variables": {
			"zenOutput": {
				"type": "String"
			}
		},
		"annotations": []
	}
}